main{
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.picker{
    background-color: var(--color-card-primary);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 8px 32px 0px #00000029;
    width: 344px;
    box-sizing: border-box;
    /* height: 320px; */
}
.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.monthList{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 17px;
    flex-wrap: wrap;
}
.dayList{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}
.weekLabel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    color: var(--color-font-text);
}
.monthDetalhe{
    display: flex;
    align-items: center;
}